html{
  background:url(images/programming.jpg);
  background-size: 100% 100%;
}
body{
        border: 10px solid black;
        padding: 10px;
        background: rgba(0,206,209,0.7);
    }
    .NavigationBar {
  background-color: black;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.NavigationBar a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 10px 10px;
  text-decoration: none;
  font-size: 20px;
}

/* Change the color of links on hover */
.NavigationBar a:hover {
  background-color: orange;
  color: black;
}

/* Add a color to the active/current link */
.NavigationBar active {
  background-color: #04AA6D;
  color: white;
}

p1,p2,p3,p4,ul{
  color:#5e001f;
  font-size: 20px;
  font-family:monospace;
}

